@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <div class="text-center main-view">
        <h1 class="with-shadow-text">We're going to have an exciting party.</h1>
        <h3 class="with-shadow-text">And you are invited!</h3>
        <br />
        <a class="btn btn-primary with-shadow" asp-action="RsvpForm">RSVP NOW</a>
    </div>
</body>
</html>